<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        color:darkblue;
    }
    p{
        color:black ;
        border: 1px solid black;
    }
</style>
<body>
    <h1>Welcome to My Page</h1>
    <ul>
        <li>Apple</li>
        <li>Mango</li>
        <li>Grapes</li>
        <li>Banana</li>
        <li>Pineapple</li>

    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fugit non quibusdam magnam eaque. Deleniti molestiae sint, excepturi perferendis quisquam doloremque ea vitae rerum ad libero quam blanditiis, qui mollitia pariatur vel accusamus? Hic cum harum consectetur libero aspernatur officia saepe reiciendis enim numquam? Ipsa eum libero molestias excepturi, pariatur quo consectetur porro et dolores qui aliquam, ea est incidunt non tenetur odit quas reiciendis aperiam officia deserunt sequi inventore voluptatum. Doloribus consequatur eos veniam quaerat necessitatibus repellendus, sint, neque aliquid eveniet laborum in cupiditate alias voluptates nobis, perspiciatis reprehenderit! Earum aliquid dignissimos, praesentium quis quia ratione accusantium maiores a ex. Consectetur, qui! Sint molestias sunt rerum harum aspernatur consectetur amet debitis alias dolore impedit maxime quos, similique iste rem necessitatibus recusandae neque nam dicta dignissimos? Dolor consectetur rerum tenetur sequi magnam quia autem, nobis et provident tempore asperiores praesentium possimus reiciendis pariatur quibusdam dolorem voluptates quo sed velit ducimus consequuntur. Itaque accusamus impedit temporibus! Excepturi, quidem omnis? Impedit facere cumque iusto, temporibus molestias illo eligendi nam ullam aspernatur soluta, cupiditate ipsa beatae quidem eius quas qui deserunt? Adipisci reprehenderit, sunt soluta nam doloribus amet placeat qui blanditiis earum illum excepturi voluptate animi accusantium non nesciunt ratione voluptas, veniam dolorum. Provident a dolorem vitae omnis, velit et fugit cum laudantium, molestiae accusantium modi, reprehenderit quos facilis eveniet dolor. Blanditiis tempore magnam, veniam error veritatis, perferendis ea nam iure, magni obcaecati fuga. Quod facilis eius inventore suscipit, perspiciatis, at id ab rerum necessitatibus quibusdam numquam, vel illum laborum dolore dicta soluta voluptatum nobis tempora expedita dignissimos! Facere, error. Laudantium veniam hic blanditiis, magnam dolore sequi dolorem similique consequatur, dolorum maiores facilis facere atque fugiat quasi incidunt est, minus quos voluptates! Reprehenderit in harum commodi animi magni accusamus voluptatum voluptate tenetur accusantium molestias natus, nihil provident odit exercitationem ducimus perferendis magnam! Reiciendis molestias quibusdam, sit delectus quaerat sint ea debitis illo autem libero cum velit in, distinctio at minus iusto repellendus laudantium similique vel qui itaque, quis cumque. Sint officiis in repudiandae consequatur, porro rerum delectus neque dolor asperiores fuga totam aspernatur sed dolore iusto laudantium quod atque nam odio harum consequuntur explicabo placeat velit. Exercitationem, molestias id. Alias aut neque provident rem nulla esse voluptate doloremque exercitationem eum quaerat debitis dicta similique temporibus, qui a, odit aspernatur facere modi ipsum tempore quisquam pariatur! Repellendus deleniti molestias nobis magni consequatur culpa a officiis beatae veritatis veniam, quia asperiores earum magnam aperiam doloremque et exercitationem architecto fuga nisi repellat, illum dolore. Dolorum nulla quibusdam fugiat. Autem enim praesentium quam quas dolore nam alias vero eum architecto quisquam facilis ratione aliquam repellendus odit, consectetur fugiat vel ipsa maiores sunt? Perferendis laboriosam veniam deserunt obcaecati, mollitia nihil quaerat impedit maxime voluptates a. Voluptate assumenda quasi odio explicabo quaerat, ad ab reprehenderit laborum quibusdam in non. Dolore, sed nihil repellendus deserunt minus eligendi, reiciendis officiis nam ex est aut amet. Rem eos architecto nisi possimus, molestias itaque quo maiores alias dolorum sit vitae voluptate perspiciatis maxime cumque, distinctio accusantium, officia cum? Magnam eaque assumenda sit tempore.</p>
</body>
</html>